.layout img {
  margin: auto;
  max-width: 98%;
  display: block;
  height: auto;
}

.layout h1,
.layout h2 {
  text-align: center;
  max-width: 100%;
}

.works h1,
.works h2,
.works h3,
.works h4,
.works a,
.works p {
  text-align: center;
}
